<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>毅后台</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets_backend/materialize/css/materialize.min.css" media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="/static/assets_backend/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/static/assets_backend/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="/static/assets_backend/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="/static/assets_backend/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/static/assets_backend/js/Lightweight-Chart/cssCharts.css">
    {% block head %}
    {% endblock %}
</head>

<body>
<div id="wrapper">
    {% block users %}
    {% endblock %}
    {% block left_side %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</div>

<script src="/static/assets_backend/js/jquery-1.10.2.js"></script>

<script src="/static/assets_backend/js/bootstrap.min.js"></script>

<script src="/static/assets_backend/materialize/js/materialize.min.js"></script>

<script src="/static/assets_backend/js/jquery.metisMenu.js"></script>
<script src="/static/assets_backend/js/morris/raphael-2.1.0.min.js"></script>
<script src="/static/assets_backend/js/morris/morris.js"></script>


<script src="/static/assets_backend/js/easypiechart.js"></script>
<script src="/static/assets_backend/js/easypiechart-data.js"></script>

<script src="/static/assets_backend/js/Lightweight-Chart/jquery.chart.js"></script>

<script src="/static/assets_backend/js/custom-scripts.js"></script>
{% block script %}
{% endblock %}
</body>

</html>